@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins;


}

input,
textarea {
 
  outline: none;
  background-color: transparent;
  color: #fff;
  border: 1px solid hsl(0, 0%, 60%);
  width: 100%;
  padding: 10px;
  font-size: 15px;
 margin: 5px;
}

input:focus,
textarea:focus {
  border-color: yellow;
  

}
input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label
{
top: -35px;
  font-size: 13px;
  ;
}

label {
  height: 100%;
  position: absolute;
  left:0;
  top:0;
  padding: 10px;
  color: white;
  cursor:text;
  opacity: .7;
  transition: 0.2s;
}

.banner {
  background: url("/banner.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.banner02 {
  background: url("/banner02.svg");
  background-color: #0b65c6;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.banner03 {
  background: url("/banner03.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.banner04 {
  background: url("/banner04.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}